268.//---------------------------------------------------------------------------
269.//--	文件名		:	XILINX_LZH_DDS.v
270.//--	作者		:	刘大大
271.//--	描述		:	项目顶层模块
272.//--	修订历史	:	2017-6-26
273.//---------------------------------------------------------------------------
274.module XILINX_LZH_DDS
275.(
276.    CLK_50M,
277.	 RST_N,
278.	 RS,
279.	 E,
280.	 RW,
281.	 DATA_O,
282.	 DA_CLK,
283.	 DA_DIN,
284.	 DA_CS,
285.	 DA_CLR,
286.	 //
287.	 finish_flag,
288.	 start_flag,
289.    DA_data,
290.    DA_start,
291.    detect_edge,
292.    fsm,
293.	 CLK
294.);
295.input            CLK_50M; 
296.input            RST_N;  
297. 
298.output   RS;             
299.output   E;       
300.output   RW;      
301.output   [7:0]DATA_O;//lcd的八位数据，后期使用4位分开传。
302.output 	DA_CLK;		 		
303.output	DA_DIN;		 
304.output	DA_CS;     
305.output   DA_CLR;     
306.//
307.output finish_flag;
308.output start_flag;
309.output [11:0]DA_data;
310.output DA_start;
311.output [1:0]detect_edge;
312.output [5:0]fsm;
313.output CLK;
314.//
315.wire     CLK;	       
316.wire     [ 5:0]fsm;  
317.wire     [1:0]detect_edge;
318.wire     DA_start;	
319.wire     [11:0]DA_data;				
320.wire     [15:0]data1;
321.wire     [4:0] addr1;
322.wire     [15:0]data2;
323.wire     [4:0] addr2; 
324.wire     [15:0] traffic; 		
325.wire     finish_flag;
326.wire     start_flag;	
327.Frequency_converter  AA
328.(
329.    CLK_50M,RST_N,
330.	 CLK
331.);
332.LCD1602_Interface   BB 
333.(
334..traffic(traffic[7:0]),
335..traffic_start(start_flag),
336..traffic_Choice(traffic[14]),
337..CLK(CLK),
338..RST_N(RST_N),
339..E(E),
340..RS(RS),
341..RW(RW),
342..DATA_O(DATA_O),
343..finish_flag(finish_flag)
344.);
345.LCD1602_control  CC
346.(
347..finish_flag(finish_flag),
348..CLK(CLK),
349..RST_N(RST_N),
350..traffic(traffic),
351..start_flag(start_flag),
352..rom_data(data1),
353..rom_addr(addr1),
354..rom2_data(data2),
355..rom2_addr(addr2),
356..detect_edge(detect_edge),
357..fsm(fsm)
358.);
359.LCD1602_ROM_Initialization   DD
360.(
361..CLK(CLK),
362..RST_N(RST_N),
363..detect_edge(detect_edge),
364..fsm(fsm),
365..rom_data(data1),
366..rom_addr(addr1)
367.);
368.LCD1602_ROM_data   EE
369.(
370..CLK(CLK),
371..RST_N(RST_N),
372..detect_edge(detect_edge),
373..fsm(fsm),
374..rom_data(data2),
375..rom_addr(addr2)
376.);
377.LTC2624DA_control FF
378.(
379.	.CLK_50M(CLK_50M),
380.	.RST_N(RST_N),
381.	.da_data(DA_data),
382.	.da_start(DA_start)
383.);
384.LTC2624DAC_Interface GG
385.(
386.	.CLK_50M(CLK_50M),
387.	.RST_N(RST_N),
388.	.DA_CLK(DA_CLK),
389.	.DA_DIN(DA_DIN),
390.	.DA_CS(DA_CS),
391.	.DA_data(DA_data),
392.	.DA_start(DA_start)
393.);
394. 
395.assign   DA_CLR=1'b1;
396.Endmodule
